[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"
psycopg2-binary = "*"
pylint = "*"
pandas = "*"
python-decouple = "*"
spacy = "*"
sklearn = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.7"
